<!DOCTYPE html>
<html lang="it">
    <%- include("partials/head.ejs") %>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="/">
                    <div class="navbar-item">
                        <p class="navbar-item title is-3">Link lezioni 4F</p>
                    </div>
                </a>

                <a
                    role="button"
                    class="navbar-burger has-text-white"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarMenu"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <%- include("partials/navbarRight.ejs") %>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div
                class="notification is-info"
                id="pw-info"
                style="display: none"
            ></div>
            <!-- PRIVACY SUSPENSION -->
            <!-- <div class="message is-info box" style="padding: 0; margin: auto">
                <div class="message-header">
                    <p>Sospensione temporanea</p>
                </div>
                <div class="message-body" style="background-color: white">
                    <p>
                        <a href="https://lezioni.bitrey.it/"
                            >lezioni.bitrey.it</a
                        >
                        è temporaneamente sospeso.
                    </p>
                    <p>
                        Verrà implementato un sistema di autenticazione a breve.
                    </p>
                </div>
            </div> -->

            <!-- <div
                class="message is-danger box"
                id="dad-warning"
                style="padding: 0"
            >
                <div class="message-header">
                    <p>#IORESTOINDAD</p>
                    <button
                        class="delete"
                        aria-label="delete"
                        onclick="removeDadWarning()"
                    ></button>
                </div>
                <div class="message-body">
                    <p>
                        Vogliamo andare a scuola in condizioni di sicurezza per
                        tutelare noi stessi e i nostri cari.
                    </p>

                    <p>
                        I contagi sono alle stelle, il preavviso è stato minimo,
                        non c'è organizzazione dei trasporti.
                    </p>

                    <p>
                        Noi non siamo stati interpellati e faremo sentire la
                        nostra voce!
                    </p>

                    <p><strong>#iorestoindad</strong></p>
                </div>
            </div> -->

            <!-- Cancella parte privacy -->
            <div class="message is-info box" style="padding: 0">
                <div class="message-header">
                    <p>
                        Sono le <span id="ora-attuale">XX</span> del
                        <span id="data-attuale">XX</span>
                    </p>
                </div>
                <div class="message-body" style="background-color: white">
                    <p id="materia-attuale">Caricamento materia attuale...</p>
                    <p id="note-materia">
                        Note:

                        <span id="note-materia-span" style="font-weight: 600">
                            Caricamento note materia...
                        </span>
                    </p>
                    <a
                        href="#"
                        id="link-attuale"
                        style="display: none"
                        target="_blank"
                        class="subtitle is-6"
                    ></a>

                    <div id="prossima-materia-div" style="display: none">
                        <p id="prossima-materia">
                            Caricamento prossima materia...
                        </p>
                        <p id="note-prossima">
                            Note:

                            <span
                                id="note-prossima-span"
                                style="font-weight: 600"
                            >
                                Caricamento note materia...
                            </span>
                        </p>
                        <a
                            href="#"
                            id="link-prossima"
                            target="_blank"
                            class="subtitle is-6"
                        ></a>
                    </div>
                </div>
            </div>

            <article class="message">
                <div class="message-header">
                    <p>Tema scuro</p>
                </div>
                <div
                    class="message-body"
                    style="background-color: #36393f !important; padding: 0"
                >
                    <div
                        class="card"
                        style="background-color: #36393f !important"
                    >
                        <div class="card-content" style="padding: 0">
                            <div class="content">
                                <div class="toggle-container">
                                    <div class="power-switch">
                                        <input id="power-cb" type="checkbox" />
                                        <div class="button-toggle">
                                            <svg class="power-off">
                                                <use
                                                    xlink:href="#line"
                                                    class="line"
                                                ></use>
                                                <use
                                                    xlink:href="#circle"
                                                    class="circle"
                                                ></use>
                                            </svg>
                                            <svg class="power-on">
                                                <use
                                                    xlink:href="#line"
                                                    class="line"
                                                ></use>
                                                <use
                                                    xlink:href="#circle"
                                                    class="circle"
                                                ></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!-- SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
                <symbol
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 150 150"
                    id="line"
                >
                    <line x1="75" y1="34" x2="75" y2="58"></line>
                </symbol>
                <symbol
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 150 150"
                    id="circle"
                >
                    <circle cx="75" cy="80" r="35"></circle>
                </symbol>
            </svg>

            <div
                class="message is-warning box"
                id="global-warning"
                style="padding: 0"
            >
                <div class="message-header">
                    <p class="message-title">Avviso</p>
                    <button
                        class="delete"
                        aria-label="delete"
                        onclick="removeGlobalWarning()"
                    ></button>
                </div>
                <div class="message-body">
                    <p class="message-p">
                        Gli orari sono aggiornati per martedì 16 marzo.
                    </p>
                </div>
            </div>

            <div id="materie" style="margin-bottom: 2rem"></div>

            <small style="padding-left: 1rem">
                <span>
                    Attribuzione del favicon:
                    <a
                        target="_blank"
                        href="https://icons8.com/icons/set/timetable"
                        >Timetable icon</a
                    >
                    by
                    <a target="_blank" href="https://icons8.com"
                        >Icons8</a
                    ></span
                >
            </small>
        </div>
        <p id="orari-server" style="display: none"><%= orari %></p>
    </body>
    <script src="/js/index.js" defer></script>
</html>
