<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Link Lezioni 4F</title>
        <meta
            name="description"
            content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
        />
        <!-- OpenGraph meta tags -->
        <meta property="og:title" content="Link Lezioni 4F" />
        <meta
            property="og:description"
            content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
        />
        <meta property="og:image" content="https://i.imgur.com/xYRQlqg.png" />
        <meta property="og:locale" content="it_IT" />
        <meta property="og:url" content="https://lezioni.bitrey.it/" />
        <!-- Twitter meta tags -->
        <meta name="twitter:title" content="Link Lezioni 4F" />
        <meta
            name="twitter:description"
            content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
        />
        <meta name="twitter:image" content="https://i.imgur.com/xYRQlqg.png" />
        <!-- Bulma CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
            integrity="sha256-WLKGWSIJYerRN8tbNGtXWVYnUM5wMJTXD8eG4NtGcDM="
            crossorigin="anonymous"
        />
        <style>
            body {
                background-color: #eef6fc;
                padding-bottom: 2rem;
            }
            .navbar-menu,
            .navbar-brand {
                background-color: #3298dc;
            }

            .navbar-item {
                color: white !important;
            }

            .container {
                padding-top: 2rem;
            }

            .media-content {
                overflow-y: hidden;
            }
            .tags {
                margin-top: 1rem;
            }
            .card {
                margin-bottom: 0.5rem;
            }
        </style>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <p class="navbar-item title is-3">Link lezioni 4F</p>
                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <p class="subtitle-is-4">ITIS Fermi</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="message is-info box" style="padding: 0">
                <div class="message-header">
                    <p>
                        Sono le <span id="ora-attuale">XX</span> del
                        <span id="data-attuale">XX</span>
                    </p>
                </div>
                <div class="message-body" style="background-color: white">
                    <p id="materia-attuale">Caricamento materia attuale...</p>
                    <p id="note-materia">
                        Note:

                        <span id="note-materia-span" style="font-weight: 600">
                            Caricamento note materia...
                        </span>
                    </p>
                    <a
                        href="#"
                        id="link-attuale"
                        style="display: none"
                        target="_blank"
                        class="subtitle is-6"
                    ></a>

                    <div id="prossima-materia-div" style="display: none">
                        <p id="prossima-materia">
                            Caricamento prossima materia...
                        </p>
                        <p id="note-prossima">
                            Note:

                            <span
                                id="note-prossima-span"
                                style="font-weight: 600"
                            >
                                Caricamento note materia...
                            </span>
                        </p>
                        <a
                            href="#"
                            id="link-prossima"
                            target="_blank"
                            class="subtitle is-6"
                        ></a>
                    </div>
                </div>
            </div>

            <div id="materie" style="margin-bottom: 2rem"></div>

            <small style="padding-left: 1rem"
                >Attribuzione del favicon:
                <a target="_blank" href="https://icons8.com/icons/set/timetable"
                    >Timetable icon</a
                >
                by <a target="_blank" href="https://icons8.com">Icons8</a>
            </small>
        </div>
        <p id="orari-server" style="display: none"><%= orari %></p>
    </body>
    <script src="/js/index.min.js"></script>
</html>
