<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Lezioni 4F</title>

    <meta
        name="description"
        content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
    />
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="Link Lezioni 4F" />
    <meta
        property="og:description"
        content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
    />
    <meta property="og:image" content="https://i.imgur.com/xYRQlqg.png" />
    <meta property="og:locale" content="it_IT" />
    <meta property="og:url" content="https://lezioni.bitrey.it/" />
    <!-- Twitter meta tags -->
    <meta name="twitter:title" content="Link Lezioni 4F" />
    <meta
        name="twitter:description"
        content="Link delle lezioni online di tutte le materie, aggiornato in tempo reale."
    />
    <meta name="twitter:image" content="https://i.imgur.com/xYRQlqg.png" />
    <!-- Bulma CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
        integrity="sha256-WLKGWSIJYerRN8tbNGtXWVYnUM5wMJTXD8eG4NtGcDM="
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
        rel="apple-touch-icon"
        sizes="114x114"
        href="/apple-icon-114x114.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="120x120"
        href="/apple-icon-120x120.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="144x144"
        href="/apple-icon-144x144.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="152x152"
        href="/apple-icon-152x152.png"
    />
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/apple-icon-180x180.png"
    />
    <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="/android-icon-192x192.png"
    />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.4/dist/css/bulma-slider.min.css"
        integrity="sha256-m9XwWtcTYNDofyHdPQfZTAgEhjQvM1/wQfU5TGqm2sk="
        crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        defer
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-H1Y5XHW56Q"
    ></script>
    <script defer>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-H1Y5XHW56Q");
    </script>
    <script async defer>
        document.addEventListener("DOMContentLoaded", () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(
                document.querySelectorAll(".navbar-burger"),
                0
            );

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener("click", () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle("is-active");
                        $target.classList.toggle("is-active");
                    });
                });
            }
        });
    </script>
</head>
