<% if (utente) { %>
<p class="subtitle-is-4">Ciao <%= utente.username %></p>
<span style="padding-left: 1rem; padding-right: 1rem">&#183;</span>
<a href="/cambia-password" class="subtitle-is-4" style="color: white"
  >Cambia password</a
>
<span style="padding-left: 1rem; padding-right: 1rem">&#183;</span>
<a href="/logout" class="subtitle-is-4" style="color: white">Logout</a>
<% } else { %>
<a href="/login" class="subtitle-is-4" style="color: white">Login </a>
<span style="padding-left: 1rem; padding-right: 1rem">&#183;</span>
<p class="subtitle-is-4">ITIS Fermi</p>
<% } %>
